.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.688rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    font-size: clamp(
      1.5rem,
      1.147887323943662rem + 1.5023474178403755vw,
      2.5rem
    );
    color: var(--color-White);
  }

  &__subtext {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    font-size: clamp(
      1rem,
      0.9559859154929577rem + 0.18779342723004694vw,
      1.125rem
    );
    line-height: 1.7;
    letter-spacing: 0;
    color: var(--color-White);
    margin-bottom: 1.5rem;
  }
}
