.social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 16px;
  padding-top: 1.688rem;

  @media (max-width: 768px) {
    justify-content: center;
    gap: 10.5px;
    padding: 64px 0;
    .social svg {
      width: 28px;
      height: 28px;
    }
  }

  svg {
    fill: currentColor;
    color: var(--color-White);
    transition: color 0.3s ease;

    &:hover {
      fill: var(--color-Soft-Magenta);
    }
  }
}
